<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo">
    Perfil
    </ion-title>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu-sharp"></ion-icon>
      </ion-button>
      <!-- <ion-menu-button></ion-menu-button> -->
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!uid.length">

    <h3 class="subtitulo encabezado">Ingrese datos</h3>
  
    <ion-item>
      <ion-label class="normal">
        Email: 
      </ion-label>
      <ion-input name="email" [(ngModel)]="cliente.email" class="normal" type="text" inputmode="text"  >  </ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label class="normal">
        Celular: 
      </ion-label>
      <ion-input [(ngModel)]="cliente.celular" class="normal"  type="text"  inputmode="text"  > </ion-input>
    </ion-item>
  
    <ion-item  *ngIf="!ingresarEnable">
      <ion-label class="normal" position="floating"  >
        Nombre: 
      </ion-label>
      <ion-input [(ngModel)]="cliente.nombre" class="normal" type="text" inputmode="text"  >  </ion-input>
    </ion-item>
  
    <ion-item  *ngIf="!ingresarEnable">
      <ion-label class="normal" position="floating"  >
        Dni: 
      </ion-label>
      <ion-input [(ngModel)]="cliente.dni" class="normal" type="text" inputmode="text"  >  </ion-input>
    </ion-item>
  
  
    <ion-item  *ngIf="!ingresarEnable">
      <ion-label class="normal" position="floating"  >
        Referencia a la ubicacion: 
      </ion-label>
      <ion-input [(ngModel)]="cliente.referencia" class="normal" type="text" inputmode="text"  >  </ion-input>
    </ion-item>
  
    <ion-item  *ngIf="!ingresarEnable">
      <ion-label class="normal">
        Foto referencial: 
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
  
          <label for="file-upload">
  
            <ion-icon slot="icon-only" name="images"></ion-icon>
          </label>
          <input (change)="newImageUpload($event)" id="file-upload" style="display: none" id="file-upload" type="file" accept="image/*">
  
        </ion-button>
      </ion-buttons>
    </ion-item>
  
    <ion-item *ngIf="ingresarEnable">
      <img class="image" [src]="cliente.foto" >
     
    </ion-item>
    
    <div style="text-align: end; margin: 10px;">
      <ion-button *ngIf="!ingresarEnable" (click)="registrarse()" class="normal" color="light">Registrarse</ion-button>
      <ion-button *ngIf="!ingresarEnable" (click)="ingresarEnable = true" class="normal" color="light">O Ingresar</ion-button>
      <ion-button *ngIf="ingresarEnable" (click)="ingresar()" class="normal" color="light">Login</ion-button>
      <ion-button *ngIf="ingresarEnable" (click)="ingresarEnable = false" class="normal" color="light">Registrarse</ion-button>
  
    </div>
  </div>

  <div *ngIf="uid.length">

    <h3 class="subtitulo encabezado">Tus datos</h3>
  
    <ion-item>
      <ion-label class="normal" >
        Email: {{cliente.email}}
      </ion-label>
      <!-- <ion-input [(ngModel)]="cliente.email" class="normal" type="text" inputmode="text"  >  </ion-input> -->
    </ion-item>

    <ion-item>
      <ion-label class="normal">
        Celular: {{cliente.celular}}
      </ion-label>
      <!-- <ion-input [(ngModel)]="cliente.celular" class="normal"  type="text"  inputmode="text"  > </ion-input> -->
    </ion-item>  
  
    <ion-item>
      <ion-label class="normal" position="floating"  >
        Nombre: 
      </ion-label>
      <ion-input [(ngModel)]="cliente.nombre" class="normal" type="text" inputmode="text"  >  </ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label class="normal" position="floating"  >
        Dni: 
      </ion-label>
      <ion-input [(ngModel)]="cliente.dni" class="normal" type="text" inputmode="text"  >  </ion-input>
    </ion-item>
  
    
  
    <ion-item>
      <ion-label class="normal" position="floating"  >
        Referencia a la ubicacion: 
      </ion-label>
      <ion-input [(ngModel)]="cliente.referencia" class="normal" type="text" inputmode="text"  >  </ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label class="normal">
        Foto referencial: 
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
  
          <label for="file-upload">
  
            <ion-icon slot="icon-only" name="images"></ion-icon>
          </label>
          <input (change)="newImageUpload($event)" id="file-upload" style="display: none" id="file-upload" type="file" accept="image/*">
  
        </ion-button>
      </ion-buttons>
    </ion-item>
  
    <ion-item>
      <img class="image" [src]="cliente.foto" >
     
    </ion-item>



    <div style="text-align: end; margin: 10px;">
      <ion-button (click)="guardarUser()" class="normal" color="light">Guardar</ion-button>
  
    </div>
    <div style="text-align: end; margin: 10px;">
      <ion-button (click)="salir()" class="normal" color="light">Salir</ion-button>
  
    </div>

  </div>




</ion-content>
