.img-producto{
   max-width: 200px;
   margin: auto; 
}

.precio {
    margin: 0px 20px 10px 0px;
    text-align: right;
    font-family: "Raleway",sans-serif;
    font-size: 20px;
    color: #cc0000;
    font-weight: bold;
}

.tachado{
    margin: 10px 20px 0px 0px;
    text-align: right;
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    color: rgb(16, 16, 20);
    font-weight: bold;
    text-decoration: line-through;
}

.icon-producto{
    position:absolute;
    top: 0px;
    right: 0px;
    font-size:1 30px;
    margin: 10px;
    background-color: dodgerblue;
    padding: 10px;
    border-radius: 100%;
    color: rgb(255, 255, 255);

}