<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo">
      Configuracion de Productos
    </ion-title>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu-sharp"></ion-icon>
      </ion-button>
      <!-- <ion-menu-button></ion-menu-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="text-align: end; margin: 10px;">
    <ion-button (click)="nuevo()" class="normal" color="primary">Nuevo</ion-button>
    <ion-button style="margin: 30px;"  color="danger" (click)="guardarProducto()">
      Guardar
    </ion-button>
  </div>
  <div *ngIf="enableNewProducto">

    <h3 class="subtitulo encabezado">Ingrese datos del producto</h3>
    <ion-item>
      <ion-label class="normal" position="floating"  >
        Nombre: 
      </ion-label>
      <ion-input [(ngModel)]="newProducto.nombre" class="normal" type="text" inputmode="text"  >  </ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label class="normal" position="floating"  >
        Precio normal: 
      </ion-label>
      <ion-input [(ngModel)]="newProducto.precioNormal" class="normal"  type="number"  inputmode="numeric"  > </ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label class="normal" position="floating"  >
        Precio reducido: 
      </ion-label>
      <ion-input [(ngModel)]="newProducto.precioReducido" class="normal" type="number" inputmode="numeric"  > </ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label class="normal">
        Foto: 
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>

          <label for="file-upload">

            <ion-icon slot="icon-only" name="images"></ion-icon>
          </label>
          <input (change)="newImageUpload($event)" id="file-upload" style="display: none" id="file-upload" type="file" accept="image/*">

        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item>
      <img class="image" [src]="newProducto.foto" >
     
    </ion-item>

    <!-- <ion-button style="margin: 30px;" expand="full" color="danger" (click)="guardarProducto()">
      Guardar
    </ion-button> -->
  </div>

<!-- <input (change)="addNew($event)" id="file-upload" type="file" accept="image/*"> -->

  <hr>
  <ion-item *ngFor="let producto of productos">
    <ion-label class="normal">{{producto.nombre}}</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="newProducto = producto; enableNewProducto=true">
        <ion-icon slot="icon-only" name="create-sharp" color="primary"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteProducto(producto)">
        <ion-icon slot="icon-only" name="trash-bin" color="danger"  ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <img [src]="newImage" *ngIf="fotoPrevista">



</ion-content>